.mainmenuitem_choose_a_case
 li {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
  }
  
  .mainmenuitem_choose_a_case
   li:nth-child(1) {
    transition-delay: 0.2s;
  }
  
  .mainmenuitem_choose_a_case
   li:nth-child(2) {
    transition-delay: 0.15s;
  }
  
  .mainmenuitem_choose_a_case
   li:nth-child(3) {
    transition-delay: 0.1s;
  }
  
  .mainmenuitem_choose_a_case
   li:nth-child(4) {
    transition-delay: 0.05s;
  }
  
  .mainmenuitem_choose_a_case
   li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--violet);
  }
  
  .mainmenuitem_choose_a_case
   li a span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 5px));
    width: 100%;
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: var(--black);
    font-weight: bold;
  }
  
  .nav input:checked + label {
    background: var(--black);
    transform: translateY(calc(-50% + 4px));
  }
  
  .nav input:checked ~ .mainmenuitem_choose_a_case
   li:nth-child(1) {
    top: 210px;
    transition-delay: 0.1s;
  }
  
  .nav input:checked ~ .mainmenuitem_choose_a_case
   li:nth-child(2) {
    top: 160px;
    left: calc(50% - 75px);
    transition-delay: 0.2s;
  }
  
  .nav input:checked ~ .mainmenuitem_choose_a_case
   li:nth-child(3) {
    top: 160px;
    left: calc(50% + 75px);
    transition-delay: 0.3s;
  }
  
  .nav input:checked ~ .mainmenuitem_choose_a_case
   li:nth-child(4) {
    top: 110px;
    transition-delay: 0.4s;
  }
  
  .nav input:checked ~ .mainmenuitem_choose_a_case
   li a span {
    opacity: 1;
    transition-delay: 0.9s;
  }