/* RESET/BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('/css/mainmenuitem_the_raspb5.css');
@import url('/css/mainmenuitem_choose_a_setting.css');
@import url('/css/mainmenuitem_choose_a_case.css');
@import url('/css/mainmenuitem_get_the_dash.css');


:root {
  --white: #ffffff;
  --light-grey: #edf0f1;
  --violet: #655be1;
  --dark-violet: #5146e1;
  --black: #21232a;
  /* Variables for nav */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background: var(--light-grey);
  color: var(--white);
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: var(--violet);
}

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: max-content;
  padding-bottom: 20px;
  border-radius: 5px 5px 25px 25px;
  margin: 10vh;
  margin-top: 5vh;
  background: var(--white);
  box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px,
    rgb(0 0 0 / 15%) 0 18px 36px -18px;
}

.nav [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.nav [type="checkbox"] + label {
  position: relative;
  width: max-content;
  height: 75px;
  padding:1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  background: var(--violet);
  border-radius: 17%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.nav [type="checkbox"] + label:hover {
  background: var(--dark-violet);
}

.menu li {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.menu li:nth-child(1) {
  transition-delay: 0.2s;
}

.menu li:nth-child(2) {
  transition-delay: 0.15s;
}

.menu li:nth-child(3) {
  transition-delay: 0.1s;
}

.menu li:nth-child(4) {
  transition-delay: 0.05s;
}

.menu li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--violet);
}

.menu li a span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 5px));
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--black);
  font-weight: bold;
}

.nav input:checked + label {
  background: var(--black);
  transform: translateY(calc(-50% + 4px));
}

.nav input:checked ~ .menu li:nth-child(1) {
  top: 210px;
  transition-delay: 0.1s;
}

.nav input:checked ~ .menu li:nth-child(2) {
  top: 160px;
  left: calc(50% - 75px);
  transition-delay: 0.2s;
}

.nav input:checked ~ .menu li:nth-child(3) {
  top: 160px;
  left: calc(50% + 75px);
  transition-delay: 0.3s;
}

.nav input:checked ~ .menu li:nth-child(4) {
  top: 110px;
  transition-delay: 0.4s;
}

.nav input:checked ~ .menu li a span {
  opacity: 1;
  transition-delay: 0.9s;
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0%;
  bottom: 60px;
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--black);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

/*Custom Styles
--------------------------------------------------- */

#canvasroot {margin: 0;}
nav.nav-element {
    overflow:visible;
    position:fixed;
    top:0;
    width:100%;
    height: 10vh;
    background: rgba(120,120,120,0.5);
}
nav.nav-element div.container {
    overflow:visible;
    height: 10vh;
    background: rgba(120,120,120,0.5);
}

nav.nav-element div.container>ul {
  display: flex;
  flex-direction: row;
}

nav.nav ul.mainmenuitem_get_the_dash  li a span{
  color:#ffffff;
  background-color:maroon;
  border-radius: 3dvh
}

/**************************************color-picker*/
footer.page-footer span {
  right:0%;
  color:black;
  background-color: white;
  padding: 1dvh;
  border-radius: 0.5em 0 0 0.5em;
  position:relative;
  transition: right 1s;
}
 footer.page-footer.hidden span {
  right: -100%;
}
.selected {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid rgba(15, 15, 15, 0.2);
}
#color-picker {
  border: 3px solid rgba(15, 15, 15, 0.2);
}

/**************************************config-menu*/


#config_menu_container{
  position:fixed;
  background-color: chartreuse;
  display: flex;
  flex-direction: row;
  bottom: 1vh;
  left:0%;
}

#config_menu_gear i{
  position:relative;
  background-color: #655be1;
  left:100%;
  top:-100%;
  display: block;
  color:rgba(95, 158, 160,0.5);
}

#config_menu_gear i:hover{
  color:rgba(95, 158, 160,1);
}

#config_menu_items {
  position: relative;
  left:0%;
  transition: left 1s;
}

#config_menu_items.hidden {
  left:-100%;
}

.config_item_value{
  width:6em;
  border: 2px solid white;
  top: -100%;
}



